/* Estilos CSS */

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover {
    text-decoration: none;
}

/* Variables ========================== */

:root{
    --var-blanco: #fff;  
    --var-primary: #54939E;
    --var-primary-hover: #80BFC4;
    --var-secondary: #E9ECC7;
    --var-secondary-hover: #A4A965;
    --var-secondary-txt-hover: #687126;
    --var-dorado: #EBC06F;
    --var-txt-dorado: #DBA135;
    --var-gris-claro: #F3F7F8;
    --var-fondo-claro: #F1F3D6;
    --var-gris-oscuro: #707070;
    --var-texto: #77796C;
} 

/* Fuentes ========================= */

h2, h4, .span-fechas-crono, .span-h2-titulo{
    font-family: 'Spectral', serif;
}

a, span, p, h3, h5, h6, label, *::placeholder {

    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 8px;
    color: var(--var-blanco);
}

.span-h2-titulo {
    font-size: 32px;
    font-weight: 500;
    color: var(--var-blanco);
}

h3 {
    font-size: 26px;
    font-weight: 600;
    color: #545454;
    position: relative;
    padding: 0 40px;
    z-index: 1;
    margin: 0 auto 24px;
    text-align: center;
    display: inline-block;
    width: auto;
}

/* h3 para fondos blancos */

.h3-span {
    background-color: var(--var-blanco);
    position: relative;
    padding: 0 12px;
}

/* h3 para fondos grises */

.h3-span-alt {
    background-color: var(--gris-claro);
}

/* h3 con guiones plomos */ 
h3::before {
    content: '';
    position: absolute;
    background-color: var(--var-dorado);
    height: 2px;
    inset: 0;
    top: 50%;
}

.h3-alt::before {
    background-color: var(--var-gris-oscuro);
}

h4, .span-h4 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

h6 {
    color: #3F3F3F;
    font-size: 16px;
    font-weight: 400;
}
.h6-footer {
    font-weight: 300;;
}
p {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.55em;
    margin-bottom: 20px;
}

h6, .p-footer {
    font-weight: 400;

}

p {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.55em;   
}
.fw-300 {
    font-weight: 300;
}

a {
    font-weight: 300;
}

a, .span-a {
    text-decoration: underline;
    color: #fff;
}

.link-footer, .titulo-footer, h6 {
    color: #000;
    font-weight: 400;
}
.link-footer-contacto {
    color: #000;
    text-decoration: none;
    font-weight: 200;
}

.link-footer {
    margin-bottom: 16px;
}

.titulo-footer {
    margin-bottom: 12px;
}

.item-footer {
    color: black;
}

.item-footer:hover {
    color: inherit;
    text-decoration: none;
}

.span-fechas {
    background-color: var(--var-primary);
    color: var(--var-blanco);
    padding: 2px 8px;
    border-radius: 4px; 
    font-size: 12px;
    font-weight: 200;
}

.span-fechas-crono {
    font-size: 29px;
    color: var(--var-txt-dorado);
    font-weight: 300;
    position: relative;
    padding-left: 16px;
}
/* Nav Secundario */

.nav .nav-link{
    color: var(--var-texto);
    font-size: 12px;
}

.nav i {
    font-size: 18px;
    color: var(--var-secondary-hover);
}

/* Sección Portada */

#portada {
    height: 600px;
    background-image: url('../img/trenes/locomotora-2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.portada__p {
    max-width: 40ch;
    margin-inline: auto;
    color: #fff;
}

.portada__col {
    background: rgba(0,0,0,.5);
    border-radius: 50%;
}
/* Modulo actividades */
.modulo_entrada {
    text-decoration: none;
    position: relative;
    display: block;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
}
.modulo_entrada:hover .span-fechas{
    background-color: rgba(211,162,74, 1);
}
.modulo_entrada .h4-span {
    font-size: 36px;
    font-family: 'Spectral', serif;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.modulo_entrada:hover .h4-span {
    color: #fff;
    
}
.modulo_entrada .h4-span::before  {
    transition: all 1s ease;
    
    
}
.modulo_entrada:hover .h4-span::before {
    background-color: rgba(99,146,156,1);
    display: block;
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -40px;
    right: -20px;
    content: '';
    z-index: -1 ;
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px ;
    animation: modulo 0.3s infinite;
    animation-iteration-count: unset;
}
@keyframes modulo {
    from {right: 100%;}
   to {right: -20px;}
}
.modulo_entrada:hover .mask{
    display: block;
    z-index: 1;
}
.mask {
    position: absolute;
    inset: 0;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,.25) 0%, rgba(211,162,74,.2) 35%);
    display: none;
}
.img_modulo {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
}

.span-fechas-crono::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: var(--var-dorado);
    inset: 0;
    top: -2px;

}

.navbar-nav li a {
    font-weight: 200;
    font-size: 16px;

}
.contenedor_texto_modulo{
    position: absolute;
    bottom: 50px;
    left: 40px;
    right: 60px;
    z-index: 2;
}
.p_modulo {
    color: #fff;
    text-decoration: underline;
}




label {
    font-size: 13px;
    font-weight: 400;
    padding: 0 8px;
    background: #fff;
}

*::placeholder {
    font-weight: 300;
    font-size: 16px;
}

.form__input {
    border-radius: 16px;
    padding: 16px 24px;
    border: 1px solid #d0d0d0;
}

/* Botones */

.btn {
    font-size: 15px;
    font-weight: 300;
    border: 2px solid #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    border-radius: 16px;
    transition: 100ms ease-out transform;
}

.btn:hover, .btn:focus{
    transform: translateY(-4px);
    transition: 100ms ease-out transform;
    border: 2px solid #fff;
}

.btn-primary,  .btn-primary:focus {
    background-color: var(--var-primary);
    padding: 14px 32px;
    color: #fff;
}

.btn-secondary {
    background-color: var(--var-secondary);
    color: var(--var-btn-secondary-txt-hover);
    padding: 13px 72px;
}

.btn-primary:hover {
    background: var(--var-primary-hover);
}

.btn-secondary:hover {
    background: var(--var-secondary-hover);
    color: #fff;
}

/* Imagenes */

img {
    border-radius: 16px;
}

.navegador {
	float: right;		
}

/* Footer */
.fondo-footer {
    background-color: #f1f3d6;
}
.logo-footer {
    width: 100%;
    height: 70px;
}
.fondo-footer-2 {
    background-color: #A4A965;
}
.rrss a {
    color: #C5CA91;
    font-size: 40px;
}
iframe {
    border-radius: 15px; 
}
.navegador {
	float: right;
} 

.navbar-light .navbar-nav .nav-link {
	color: black;
}

.navbar-light .navbar-nav .nav-link :hover{
	color: skyblue;
}

.btn-reserva {
	background-color: cadetblue;
	color: white;

}

.btn-reserva:hover {
	background-color: rgb(132, 187, 189);
	color: white;

}

.btn-reserva i{
	rotate: 60px;
	transition: 0.5s;
	transform: rotate(-80deg);
	margin-right: 2px;
	

}

.btn-reserva:hover i{
	rotate: 60px;
	transition: 0.5s;
	transform: rotate(-50deg);
	margin-right: 2px;
	

}

.fondoup {
	background-color: var(--var-secondary);
}