/* estilo css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset =============================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover {
    text-decoration: none;
}

/* Variables */

:root{
    --var-blanco: #fff;  
    --var-btn-primary: #54939E;
    --var-btn-primary-hover: #80BFC4;
    --var-btn-secondary: #E9ECC7;
    --var-btn-secondary-hover: #A4A965;
    --var-btn-secondary-txt-hover: #687126;
    --var-dorado: #EBC06F;
    --var-txt-dorado: #DBA135;
    --var-gris-claro: #F3F7F8;
} 

/* Fuentes ========================= */

/* Para especificar:
font-family: 'Poppins', sans-serif;
font-family: 'Spectral', serif; */

h2, h4, .span-fechas-crono{
    font-family: 'Spectral', serif;
}

a, span, p, h3, h5 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 8px;
}

h3 {
    font-size: 26px;
    font-weight: 600;
    color: #545454;
    position: relative;
    padding: 0 40px;
    z-index: 1;
    margin: 0 auto 24px;
    text-align: center;
    display: inline-block;
    width: auto;
}

.h3-span {
    background-color: var(--var-blanco);
    position: relative;
    padding: 0 12px;
}

.h3-span-alt {
    background-color: var(--gris-claro);
}

h3::before {
    content: '';
    position: absolute;
    background-color: var(--var-dorado);
    height: 2px;
    inset: 0;
    top: 50%;
}

h4, .span-h4 {
    font-size: 36px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

p {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.55em;
    margin-bottom: 20px;
    max-width: 25ch;
}

.fw-300 {
    font-weight: 300;
}

a {
    font-weight: 300;
}

a, .span-a {
    text-decoration: underline;
    color: #fff;
}

.span-fechas {
    background-color: var(--var-btn-primary-hover);
    color: var(--var-blanco);
    padding: 2px 8px;
    border-radius: 4px; 
    font-size: 12px;
    font-weight: 200;
}

.span-fechas-crono {
    font-size: 29px;
    color: var(--var-txt-dorado);
    font-weight: 300;
    position: relative;
    padding-left: 16px;
}

.span-fechas-crono::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: var(--var-dorado);
    inset: 0;
    top: -2px;

}

.navbar-nav li a {
    font-weight: 200;
    font-size: 14px;
}






/* Botones */

.btn {
    font-size: 14px;
    font-weight: 300;
    border: 2px solid #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    border-radius: 16px;
    transition: 100ms ease-out transform;
}

.btn:hover, .btn:focus{
    transform: translateY(-2px);
    transition: 100ms ease-out transform;
    border: 2px solid #fff;
}


.btn-primary,  .btn-primary:focus {
    background-color: var(--var-btn-primary);
    padding: 13px 24px;
    color: #fff;
}

.btn-secondary {
    background-color: var(--var-btn-secondary);
    color: var(--var-btn-secondary-txt-hover);
    padding: 13px 72px;
}

.btn-primary:hover {
    background: var(--var-btn-primary-hover);
}

.btn-secondary:hover {
    background: var(--var-btn-secondary-hover);
    color: #fff;
}

/* Imagenes */

img {
    border-radius: 16px;
}



.navegador {
	float: right;
		
}

/* Footer */
.fondo-footer {
    background-color: #f1f3d6;
}
.logo-footer {
    width: 150px;
    height: 70px;
}
.fondo-footer-2 {
    background-color: olive;
}
.rrss a {
    color: olive;
}
